.container{
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
  
}
.title{
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;;
    text-decoration: underline;
}
.loginForm{
    margin: 0 auto;
    margin-top: 4vh;
    padding: 2vw;
    width: 30vw;
    min-height: 35vh;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(248, 237, 165);
    box-shadow: 1px 1px 1px ;
}
.inputContainer{
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-family: 'Bebas Neue', cursive;;
    width: 30vw;
    display: flex;
    flex-direction: column;
}
