.container{
    display: flex;
    margin: 0 auto;
    width: 90vw;
    height:  30vh;
    border: 1px solid purple;
    background-image: url('https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80');
}
.constainerAni{
    display: flex;
    margin: 0 auto;
    width: 90vw;
    height:  30vh;
    border: 1px solid purple;
    background-image: url('https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80');
    animation:containerAnimation ;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}
.button{
    margin: 0 auto;
    height: 5vh;
    width: 10vw;
    align-self: center;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    box-shadow: 2px 2px 2px;
}
.buttonAni{
    margin: 0 auto;
    height: 5vh;
    width: 10vw;
    align-self: center;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    box-shadow: 2px 2px 2px;
    animation:btnAnimation ;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes btnAnimation{

    40%{
    width: 90vw;
    height: 30vh;
      
    }
 
    80%{
        height: 5vh;
        width: 10vw;
    }
}
@keyframes containerAnimation{

    40%{
    width: 90vw;
    height:  30vh;
      opacity: 1;
    }
    80%{
    width: 10vw;
    height: 5vh;
    opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@media screen and (max-width: 750px) {
    .button{
        width: 20vw;  
    }
    .buttonAni{
         width: 20vw;
    }
}