.container{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid purple;
    border-bottom: 2px solid yellow;
    gap: 2vw;
    width: 100vw;
    padding: 5vh;
    height: auto;
    background-image: url("https://images.unsplash.com/photo-1614624532983-4ce03382d63d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80");
    background-color: rgba(240, 248, 255, 0);
}
.title{
    margin-bottom: 2vh;
    font-family: 'Bebas Neue', cursive;;
    text-decoration: underline purple;
}
.storyContainer{
    margin-left: 1vw;
    margin-right: 5vw;
    width: 40vw;
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.681);
    color: rgb(0, 0, 0);
    padding: 2vw;
    box-shadow: 1px 1px 1px;
    border-radius: 2px;
    border: 1px solid black;
}
.goalsContainer{
    width: 20vw;
    margin-right: 2vw;
    min-width: 150px;
    box-shadow: 1px 1px 1px;
    border-radius: 2px;
    border: 1px solid black;
    padding: 2vw;
    background-color: rgba(148, 248, 241, 0.827);
}
.firstTitle{
    margin-top: 7vh;
    text-decoration: underline purple;
    text-align: center;
    font-size: 2vw;
    font-family: 'Bebas Neue', cursive;
}
.secondTitle{
    margin-top: 12vh;
    text-decoration: underline turquoise;
    text-align: center;
    font-size: 2vw;
    font-family: 'Bebas Neue', cursive;
}
.text{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 2vh;
}
.textCursive{
    text-align: center;
    margin-top: 2vh;
    font-family: 'Architects Daughter', cursive;
    color: rgb(0, 0, 0);
}