.outerContainer{
    display: flex;
    flex-direction: row;
}
.container{
    margin: 0 auto;
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1466096115517-bceecbfb6fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    height: auto;
    padding-bottom: 9vh;
}

.title{
    margin: 0 auto;
    padding-top: 5vh;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-decoration: underline purple;
}
.form{
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(220, 204, 29);
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
    background-color: rgba(42, 144, 141, 0.928);
    margin: 0 auto;
    margin-top: 3vh;
    padding: 4vh;
    width: 30vw;
    gap: 1vh;
}
.label{  
    margin: 0 auto;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.input{
    margin: 0 auto;
    width: 30vw;
}
.useMail{
   text-decoration: underline black 1px;
   font-family: 'Bebas Neue', cursive;
   color: white;
   margin: 0 auto;
   cursor: pointer;
}
.inputAlert{
    margin: 0 auto;
    width: 30vw;
    background-color:rgb(177, 242, 242);
}
.textarea{
    margin: 0 auto;
    margin-top: 2vh;
    max-width: 30vw;
    min-width: 30vw;
    height: 30vh;
}
.mailSvgFalse{
    width: 0vw;
    color: rgba(240, 248, 255, 0);
}
.mailSvg{
    width: 4vw;
    position: absolute;
    animation: mailAnimation;
    animation-duration: 5s;
    color: rgba(0, 0, 0, 0);
}

@keyframes mailAnimation{

    0%{
        color: rgb(0, 0, 0);
        transform: rotate(180deg);
        margin-right:60%;
        margin-top: 30%;
    }
      100%{
          margin-left:50%;
          margin-top: -50%;
          color: rgb(183, 146, 252);
      }
  }

  @media screen and (max-width: 750px) {
    .container{
          margin: 0 auto;
          margin-top: 5vh;
    }
    .title{
      text-align: center;
      min-width: 50vw;
    }
    .form{
        width:50vw;
    }
    .input{
        width:50vw;
    }
    .inputAlert{
        width:50vw;
    }
    .textarea{
        min-width:50vw;
        max-width:50vw;
    }
    
  }