.container{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100vw;
    height: auto;
    margin-bottom: 50vh;
}
.title{
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline purple;
    margin-top: 2vh;
}
.componentTitle{
    margin: 0 auto;
    font-size:calc(16px + 0.5vw);
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
}
