.container{
    margin: 0 auto;
    margin-right: 7vw;
    margin-top: 7vh;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.userIcon{
    height: 4vh;
    margin-left: 4vw;
}
.linkContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.links{
    color: black;
    font-size:2.3vh;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;;
}
.userLink{
    display: flex;
    align-items: center;
    color: black;
    font-size:2.3vh;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 1vh;
}
.logout{
    display: flex;
    align-items: center;
    color: black;
    font-size:2.3vh;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
}
.mail{
    color: black;
    font-size:2.3vh;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;;
    margin-left: 46vw;
}

.links:hover{
  animation: linksAnimation;
  animation-duration:0.2s ;
  animation-fill-mode: forwards;
}
.logout:hover{
  animation: linksAnimation;
  animation-duration:0.2s ;
  animation-fill-mode: forwards;
}
.userLink:hover{
  animation: linksAnimation;
  animation-duration: 0.2s ;
  animation-fill-mode: forwards;
}
.hr{
    border: solid 1px black;
    width: 60vw;
    margin-bottom: 2vh;
}


@keyframes linksAnimation{
  
    100%{
       color: aqua;
       text-decoration: underline purple;
    }
}

@media screen and (max-width: 900px) {
    .container {
     margin-left: 3vw;
    }
  }
@media screen and (max-width: 750px) {
    .links {
    font-size: 1.5vh;
    }
    .userLink{
        font-size: 1.5vh;
    }
    .userIcon{
        height: 2vh;
        margin-left: 4vw;
    }
    .hr{
        border: solid 0.5px black;
   
    }
    
  }