*{
    margin: 0 ;
    padding: 0;
}
.menuIcon{
    position: absolute;
    width: calc(20px + 1.5vw);
    right: 2vw;
    top: 2vh;
    cursor: pointer;
}
.menuIcon:hover{
  color: turquoise;
}
@media screen and (max-width: 400px) {
    .menuIcon{
        width: calc(20px + 4.5vw);
        top: 3vh;
        right: 5vw;
    }
}