.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 20vw;
    height: auto;
    border: 1px solid black;
    border-radius:  2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px ;
}
.containerOnClick{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 20vw;
    height: auto;
    border: 1px solid black;
    border-radius:  2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px ;
    animation-name: backgroundAni; 
    animation-duration: 2s ;
}
/* .container:hover{
    animation-name: backgroundAni; 
    animation-duration: 10s ; 

} */
.title{
    padding-top:1vh;
    margin: 0;
    font-family: 'Bebas Neue', cursive;;
    font-size: 4vw;
    color: rgb(255, 255, 255);
}
.titleLink{
    color: black;
    text-decoration: underline ;
}
.shee{
    color: black;
}
.letterB{
    color: rgb(0, 0, 0);
}
.letterAN{
    color: rgb(0, 0, 0);

}

@keyframes letterB{
50%{
    color:rgb(0, 0, 0) ;
    margin-right: 2vw;
}
100%{
    margin-right: 0vw;
}
}
@keyframes backgroundAni{

10%{box-shadow: 0px 0px 0px}
100%{ box-shadow: 10px 10px 10px  }

}

@media screen and (max-width: 500px) {
    .container{
        width: 40vw;
        height: 6vh;
    }
    .title{
        font-size: 8vw;       
    }
}