.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 20vw;
    height: auto;
    border: 1px solid black;
    border-radius:  2px;
    background-color: rgb(183, 146, 252);
    box-shadow: 10px 10px 10px ;
}
.container:hover{
    animation-name: backgroundAni; 
    animation-duration: 10s ; 

}
.title{
    padding-top:1vh;
    margin: 0;
    font-family: 'Bebas Neue', cursive;;
    font-size: 4vw;
    color: rgb(255, 255, 255);
}
.titleLink{
    color: black;
    text-decoration: none;
}
.shee{
    color: black;
}
.letterB{
    color: rgb(241, 238, 27);
}
.letterAN{
    color: rgb(255, 255, 255);
}
.letterB:hover{
    animation-duration: 2s;
    animation-name: letterB;
}
.letterAN:hover{
    animation-duration: 2s;
    animation-name: letterB;
}
.shee:hover{
    animation-duration: 2s;
    animation-name: letterB;
}
@keyframes letterB{
50%{
    color:rgb(0, 0, 0) ;
    margin-right: 2vw;
}
100%{
    margin-right: 0vw;
}
}
@keyframes backgroundAni{
0%{background-color: rgb(183, 146, 252);}
10%{box-shadow: 0px 0px 0px}
20%{background-color:yellow ;box-shadow: 10px 10px 10px  }
80%{background-color: rgb(86, 38, 182);}
80%{background-color: rgb(183, 146, 252);}
}